* {
    box-sizing: border-box;
    line-height: 1.618em;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

header,
main,
footer {
    margin: 2em auto;
    max-width: 750px;
}

h1 {
    color:burlywood;
}

body {
    background-image: url(../image/img1_journal.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.header-image {
    width: 100%;
    height: 75px;
    background: url(../image/img6_symbols_cropped.jpg);
    background-size: cover;
    opacity: .5;
    border-bottom: #555;
}

section {
    background-color: rgba(186, 112, 59, 0.20);
    padding: 2.5em;
    text-align: left;
    border-radius: 25px;
    /*font-family:;*/ 
    border: 1px solid black;
    margin: 2em;
}
#welcomeAbout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1.25em;
}
