
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>Blog Home Page</h1>
    <p>Welcome to our blog message here.</p>
    
    <div>
        <a href="/Post/Index"><button>View All Posts</button></a>
        <a href="/Category/Index"><button>View All by Category</button></a>
        <a href="/Tag/Index"><button>View All by Tag</button></a>
    </div>

</body>
</html>
