@model IEnumerable<BlogPlatform.Models.Tag>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var tag in Model)
    {
        <p>Tag: @tag.Name</p>
    }

    <a href="/Home/Index"><button>Return Home</button></a>
</body>
</html>
