@model IEnumerable<BlogPlatform.Models.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var post in Model)
    {
        <p>@post.Name</p>
        <a href="/Post/Index/@post.Id"> View Posts</a>
    }

    <a href="/Home/Index"><button>Return Home</button></a>
</body>
</html>
